<nav class="navbar navbar-expand-lg navbar-dark p-3 bg-danger" id="headerNav">
  <div class="container-fluid">
    <a class="navbar-brand d-block d-lg-none" href="#">
      <img src="/static_files/images/logos/logo_2_white.png" height="80" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse navtext" id="navbarNavDropdown">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link mx-2 active" routerLink="home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            ><i class="fa-solid fa-square-h"></i>Home</a
          >
        </li>
        
        <li class="nav-item d-none d-lg-block">
          <a class="nav-link mx-2" routerLink="home">
            <img
              src="https://www.clipartmax.com/png/small/219-2190038_bags-woman-shopping-icon-transparent.png"
              style="mix-blend-mode: darken; height: 50px"
            />
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="cart" routerLinkActive="active"
            ><i class="fa-solid fa-cart-shopping"></i>Cart {{getcount() > 0 ? getcount() : '' }}</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link mx-2" routerLink="orders" routerLinkActive="active"><i class="fa-solid fa-store"></i>Orders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mx-2" routerLink="login" routerLinkActive="active"><i class="fa-solid fa-user"></i>Profile</a>
        </li> -->
      </ul>
    </div>

    <div>
      <button class="btn btn-outline-light"(click)="logout()">Logout</button>
    </div>
  </div>
</nav>
